@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

/* Custom class to handle the bottom border ring effect */
.ring-bottom {
  position: relative;
  overflow: hidden; /* Ensure the ring doesn't extend outside the border */
}

.ring-bottom::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px; /* Adjust the height to match the ring thickness */
  background-color: rgba(59, 130, 246, 0.5); /* Adjust color and opacity as needed */
  border-radius: 0 0 4px 4px; /* Optional: Adjust for rounded corners */
}

.p1 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0 0 15px;
}

.p1 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.snipe {
  display: inline-block;
  overflow: hidden;
  height: 30px;
}

.snipe:after {
  content: "";
  line-height: normal;
  float: left;
  border: 1.5rem solid #ffc72c;
  border-right-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

@layer utilities {


  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .text14_padding10 {
    @apply text-14 px-4 py-2.5 font-semibold;
  }

  .bg-gray-25 {
    background-color: #f9fafb; /* Replace with your desired color */
  }

  .custom-border-left {
    border-left-width: 1px; /* Example border properties */
  }
  
  .font-smallbold {
    font-weight: 450;
  }

  .font-smallboldd {
    font-weight: 500;
  }

  .children-wrapper {
    transform: translateX(100%);
    opacity: 0;
    animation: slideIn 1.5s ease-out forwards;
    animation-delay: 1.5s; /* Starts after the first div animation completes */

  }

  /* .children2-wrapper {
    transform: translateX(100%);
    opacity: 0;
    animation: slideIn2 1.5s ease-out forwards;
    animation-delay: 1.5s; /* Starts after the first div animation completes */


  /* @keyframes slideIn2 {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  } */

 

  .main {
    overflow: hidden; /* Prevents overflow issues during animations */
  }

  .text-base2{
    font-size: 15px; /* 16px */;
    line-height: 1.5rem /* 24px */;
  }
  
  .full-screen-animation {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    /* background: url('/icons/testphoto2.png') no-repeat center center; */
    background-size: cover; /* Ensures the background image covers the entire area */    
    animation: shrinkToHalf 1.5s ease-out forwards;
    animation-delay: 1.5s; /* Starts after the first div animation completes */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
  }
  
  .text-wrapper .logoimage {
    position: relative;
    top: -75px; /* Move the image 50px higher */
  }
  
  .text-wrapper .font-signin2 {
    position: relative;
    top: -65px; /* Move the text 60px higher */
  }
  
  .text-wrapper .font-smallbolder {
    position: relative;
    top: -65px; /* Move the text 70px higher */
  }
  
  .pb-30 {
    padding-bottom: 7.5rem /* 160px */;
}

  .text-wrapper {
    display: flex;
    justify-content: center; /* Center the text horizontally */
    z-index: 2; /* Ensure the text stays on top of the background image */
    align-items: center; /* Center the text vertically */
    animation: moveTextToCenterOfLeftHalf 1.5s ease-out forwards;
    animation-delay: 1.5s; /* Sync with the full-screen animation */
  }

  .text-wrapper2 {
    display: flex;
    justify-content: center; /* Center the text horizontally */
    z-index: 2; /* Ensure the text stays on top of the background image */
    align-items: center; /* Center the text vertically */
  }

  .animate-spin2 {
    animation: spinAndFade 1.5s linear forwards;
}

.supported-by {
  z-index: 1;
  width: 100%;
  position: absolute; /* Position the div absolutely within the relative parent */
  bottom: 30px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  display: flex;
  opacity: 0; /* Initially hidden */
  /* Animation */
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 3s; /* Delay before the animation starts */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start completely transparent */
  }
  100% {
    opacity: 1; /* End fully opaque */
  }
}
  

@keyframes spinAndFade {
    0% {
        transform: rotate(0deg);
        opacity: 1; /* Fully visible at the start */
    }
    100% {
        transform: rotate(360deg);
        opacity: 0; /* Fully invisible at the end */
    }
}

  .sliding-section {
    transform: translateX(100%);
    opacity: 0;
    width: 50%; /* Ensure the sliding section takes up only half of the screen */
    position: absolute;
    top: 0;
    right: 0; /* Keeps it aligned to the right side of the screen */
    height: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideIn 1.5s ease-out forwards;
    animation-delay: 1.5s; /* Starts after the first div animation completes */
  }
  
  /* Keyframes for shrinking the first div */
  @keyframes shrinkToHalf {
    from {
      transform: translateX(25); /* Start in the center of the full screen */
      width: 100%; /* Full width at the start */
    }
    to {
      transform: translateX(-0%); /* Moves left by 25% of the full screen width */
      width: 50%; /* Shrink to half the original width */
    }
  }
  
  /* Keyframes for moving the text to the center of the left half */
  @keyframes moveTextToCenterOfLeftHalf {
    from {
      transform: translateX(0); /* Start in the center of the full screen */
    }
    to {
      transform: translateX(-0%); /* Move left by 50% of the full screen width */
    }
  }
  
  /* Keyframes for sliding in the children section */
  @keyframes slideIn {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
 

  .details{
    font-size: 11px
  }

  .w-\[325px\] {
    width: 340px;
}

  .placeholder-black::placeholder{
    color: black;
  }

  .mt-own{
    margin-top: 0.1rem;
  }
  .font-littlebold{
    font-weight: 300;
    font-size: 11px;
  }

  .font-er{
    font-weight: 300;
  }

  .balance-text-13{
    font-size: 15px;
  }

  .balance-text-16{
    font-size: 16px;
  }

  .balance-text-small{
    font-size: 12px;
  }

  .balance-text-14{
    font-size: 14px;
  }



  .other-text-13{
    font-size: 13px;
  }


  .hover-card-trigger:hover {
    text-decoration: underline;
  }

  .no-hover {
    text-decoration: none;
  }

  
  .no-hover:hover {
    text-decoration: none;
  }

  .font-smallboldish{
    font-weight: 300;
  }

  .font-smallbolder{
    font-weight: 375
  }

  .border-other {
    border-width: 0.1rem;
}
  

.slide-down-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.slide-down-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-down-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-down-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

/* slide up  */

.slide-up-enter {
  opacity: 0;
  transform: translateY(20px);
}

.slide-up-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-up-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-up-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}

  .font-title{
    font-weight: 500;
    font-size: 25px;
  }

  .font-bigtitle{
    font-weight: 350;
    font-size: 32px;
  }

  .font-bigtitle2{
    font-weight: 300;
    font-size: 25px;
  }

  .font-subtitle{
    font-weight: 400;
    font-size: 16px;
  }

  .font-sub{
    font-weight: 275;
    font-size: 18px;
  }

  .font-subbed{
    font-weight: 275;
    font-size: 16px;
  }

  .font-submore{
    font-weight: 275;
    font-size: 15px;
  }

  .font-signin{
    font-weight: 325;
    font-size: 16px;
  }

  .font-signin2{
    font-weight: 350;
    font-size: 16px;
  }

  .hide-scrollbar {
    overflow: auto; /* Allows scrolling */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
    scrollbar-width: none; /* Hides scrollbar */
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
    -ms-overflow-style: none; /* Hides scrollbar */
}

  .ProgressRoot {
    position: relative;
    overflow: hidden;
    background: var(--black-a9);
    border-radius: 99999px;
    width: 300px;
    height: 25px;
  
    /* Fix overflow clipping in Safari */
    /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
    transform: translateZ(0);
  }
  
  .ProgressIndicator {
    background-color: white;
    width: 100%;
    height: 100%;
    transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
  }
  

  .w-search{
    width: 1100px;
  }

  .official-transactions{
    margin-top: 20px;
  }
  .transaction-font {
    font-size: 2rem;
  }

  .text-bankGradient {
    color: #5089DD; /* Replace with your desired color */
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .header-2 {
    @apply text-18 font-semibold text-gray-900;
  }

  .text-10 {
    @apply text-[10px] leading-[14px];
  }

  .text-12 {
    @apply text-[12px] leading-[16px];
  }

  .text-14 {
    @apply text-[14px] leading-[20px];
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .text-18 {
    @apply text-[18px] leading-[22px];
  }

  .text-20 {
    @apply text-[10px] leading-[24px];
  }

  .text-24 {
    @apply text-[24px] leading-[30px];
  }

  .text-26 {
    @apply text-[26px] leading-[32px];
  }

  .text-30 {
    @apply text-[30px] leading-[38px];
  }

  .text-36 {
    @apply text-[36px] leading-[44px];
  }

  /* Home */
  .home {
    @apply no-scrollbar flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
  }

  .home-content {
    @apply no-scrollbar flex w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-12 xl:max-h-screen xl:overflow-y-scroll;
  }

  .home-header {
    @apply flex flex-col justify-between gap-8;
  }

  .total-balance {
    @apply flex w-full items-center gap-4 rounded-xl border border-gray-200 p-4 sm:gap-6 sm:p-6;
  }

  .total-balance-chart {
    @apply flex size-full max-w-[100px] items-center sm:max-w-[120px];
  }

  .total-balance-label {
    @apply text-14 font-medium text-gray-600;
  }

  .total-balance-amount {
    @apply text-24 lg:text-30 flex-1 font-semibold text-gray-900;
  }

  .recent-transactions {
    @apply flex w-full flex-col gap-6;
  }

  .view-all-btn {
    @apply text-14 rounded-lg border border-gray-300 px-4 py-2.5 font-semibold text-gray-700;
  }

  .recent-transactions {
    @apply flex w-full flex-col gap-6;
  }

  .input-class {
    @apply rounded-sm shadow-sm font-smallboldish balance-text-16 placeholder:text-14 border border-gray-300 text-gray-900 placeholder:text-gray-500;
    }
  
  .input-class:focus {
      @apply outline-none border-[#006ac3] border-other;
       /* Replace 'red-500' with your desired color */
  }

  .recent-transactions-label {
    @apply text-16 md:text-16 font-smallbold text-gray-900;
  }

  .recent-transactions-tablist {
    @apply custom-scrollbar mb-8 flex w-full flex-nowrap;
  }

  /* Right sidebar */
  .right-sidebar {
    @apply no-scrollbar hidden h-screen max-h-screen flex-col border-l border-gray-200 xl:flex w-[355px] xl:overflow-y-scroll !important;
  }

  .profile-banner {
    @apply h-[120px] w-full bg-gradient-mesh bg-cover bg-no-repeat;
  }

  .profile {
    @apply relative flex px-6 max-xl:justify-center;
  }

  .profile-img {
    @apply flex-center absolute -top-8 size-24 rounded-full bg-gray-100 border-8 border-white p-2 shadow-profile;
  }

  .profile-details {
    @apply flex flex-col pt-24;
  }

  .profile-name {
    @apply text-24 font-semibold text-gray-900;
  }

  .profile-email {
    @apply text-16 font-normal text-gray-600;
  }

  .banks {
    @apply flex flex-col justify-between gap-8 px-6 py-8;
  }

  /* My Banks */
  .my-banks {
    @apply flex h-screen max-h-screen w-full flex-col gap-8 bg-gray-25 p-8 xl:py-12;
  }

  /* My Banks */
  .transactions {
    @apply flex max-h-screen w-full flex-col gap-8 overflow-y-scroll bg-gray-25 p-8 xl:py-12;
  }

  .transactions-header {
    @apply flex w-full flex-col items-start justify-between gap-8 md:flex-row;
  }

  .transactions-account {
    @apply flex flex-col justify-between gap-4 rounded-lg border-y bg-blue-600 px-4 py-5 md:flex-row;
  }

  .transactions-account-balance {
    @apply flex-center flex-col  gap-2 rounded-md bg-blue-25/20 px-4 py-2 text-white;
  }

  .header-box {
    @apply flex flex-col gap-1;
  }

  .header-box-title {
    @apply text-24 lg:text-30 font-semibold text-gray-900;
  }

  .header-box-subtext {
    @apply text-14 lg:text-16 font-normal text-gray-600;
  }

  /* Bank Card */
  .bank-card {
    @apply relative flex h-[190px] w-full max-w-[320px] justify-between rounded-[20px] border border-white bg-bank-gradient shadow-creditCard backdrop-blur-[6px];
  }

  .bank-card_content {
    @apply relative z-10 flex size-full max-w-[228px] flex-col justify-between rounded-l-[20px] bg-gray-700 bg-bank-gradient px-5 pb-4 pt-5;
  }

  .bank-card_icon {
    @apply flex size-full flex-1 flex-col items-end justify-between rounded-r-[20px] bg-bank-gradient bg-cover bg-center bg-no-repeat py-5 pr-5;
  }

  /* Bank Info */
  .bank-info {
    @apply gap-[18px] flex p-4 transition-all border bg-blue-25 border-transparent;
  }

  /* Category Badge */
  .category-badge {
    @apply flex-center truncate w-fit gap-1 rounded-2xl border-[1.5px] py-[2px] pl-1.5 pr-2;
  }

  .banktab-item {
    @apply gap-[18px] border-b-2 flex px-2 sm:px-4 py-2 transition-all;
  }

  .banktab-item2 {
    @apply gap-[18px] border-b-2 flex px-2 sm:px-4 py-2 transition-all;
  }

  /* Mobile nav */
  .mobilenav-sheet {
    @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
  }

  .mobilenav-sheet_close {
    @apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60;
  }

  /* PlaidLink */
  .plaidlink-primary {
    @apply border border-bankGradient bg-[#006ac3] text-white pt-1 pb-1 font-smallboldish balance-text-16;

  }

  .plaidlink-ghost {
    @apply flex cursor-pointer items-center justify-center gap-3 rounded-lg px-3 py-7 hover:bg-white lg:justify-start;
  }

  .plaidlink-default {
    @apply flex !justify-start cursor-pointer gap-3 rounded-lg !bg-transparent flex-row;
  }

  /* Auth */
  .auth-asset {
    @apply flex h-screen w-full sticky top-0 items-center justify-end bg-[#000000] max-lg:hidden;
  }

  .auth-asset2 {
    @apply flex h-screen w-full top-0 items-center bg-[#000000];
  }
  
  .full-width-navbar {
    width: 100%;
  }

  .social-icon {
    width: 20px; /* 50% of the container's width */
    height: 20px; /* Maintain the aspect ratio */
}

  /* BUTTON */
.chatbox__button {
  text-align: right;
  bottom: 15px;
  right: 15px;
}


  .footer-right{
    display: flex;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-box-flex: 1;
  }

  /* Auth Form */
  .auth-form {
    @apply flex min-h-screen w-full max-w-[430px] flex-col justify-center gap-5 py-10 md:gap-8;
  }

  .creditcard-promo {
    @apply flex w-full max-h-[500px];
  }

  .card-form {
    @apply flex h-full w-full max-w-[625px] flex-col justify-center items-center gap-5;
    transform: translate(-20%, -10%); /* Shift left by 20% and up by 20% */
  }

  .form-item {
    @apply flex flex-col gap-1.5;
  }

  .custom-check-icon {
    width: 20px; /* Overall width of the icon */
    height: 20px; /* Overall height of the icon */
  }
  
  .custom-check-icon path {
    transform: scale(1.1); /* Adjust scale of the checkmark */
    transform-origin: center; /* Ensure scaling from center */
  }

  .form-label {
    @apply text-14 w-full max-w-[280px] font-medium text-gray-700;

  }
  .disabled1 {
  cursor: not-allowed;
  opacity: 0;
  pointer-events: none; /* Prevent clicks */
  }

  /* Enabled state */
  .enabled1 {
    cursor: pointer;
    opacity: 1;
  }

  .form-message {
    @apply text-12 text-red-500;
  }

  .form-btn {
    @apply bg-[#006ac3] text-white pt-1 pb-1 font-smallboldish balance-text-16 hover:bg-[#0060b1];
  }

  .form-btn3 {
    transition: opacity 0.5s ease; /* Adding a transition for the fade-in effect */
  }

  .form-btn3 {
    @apply bg-[#006ac3] text-white font-smallboldish balance-text-16 hover:bg-[#0060b1];
  }

  .form-btns {
    @apply bg-[#006ac3] text-white font-smallboldish balance-text-16 hover:bg-[#0060b1];
  }

  .form-btnclient{
    @apply bg-white text-[#006ac3] pt-1 pb-1 font-smallboldish rounded-none border border-[#006ac3] first-line:balance-text-16 hover:bg-[#0060b1] hover:text-white;

  }

  .form-btnclient2{
    @apply bg-[#006ac3] text-white pt-1 pb-1 font-smallboldish rounded-none border border-[#006ac3] first-line:balance-text-16;

  }

  .form-btn1 {
    @apply bg-white text-[#006ac3] pt-8 pb-8 pl-12 pr-12 font-smallboldish rounded-none border border-[#006ac3] text-lg hover:bg-[#0060b1] hover:text-white;
  }
  
  .form-btn2 {
    @apply bg-[#006ac3] text-white pt-8 pb-8 pl-12 pr-12 font-smallboldish rounded-none border border-[#006ac3] text-lg;
  }
  
  .otp-logged {
    opacity: 0; /* Start fully transparent */
    animation: fadeIn 1.5s forwards; /* Animation will run for 1.5 seconds */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1; /* End at fully visible */
    }
  }

  .conresult {
    opacity: 0; /* Start fully transparent */
    animation: fadeIn2 1.5s forwards; /* Same animation for both div and InputOTP */
  }
  
  @keyframes fadeIn2 {
    to {
      opacity: 1; /* End at fully visible */
    }
  }

  .search-box-container {
    width: 100%; /* Makes the container take up the full width of its parent */
  }
  
  .search-input {
    width: 100%; /* Makes the input take up the full width of its container */
    padding: 0.5rem; /* Adjust padding as needed */
    border: 0.25px solid #ccc; /* Add border styles */
    /* border-radius: 4px; Add border radius for rounded corners */
  }
  

  .form-link {
    @apply text-14 cursor-pointer text-bankGradient hover-card-trigger;
  }

  /* Payment Transfer */
  .payment-transfer {
    @apply no-scrollbar flex flex-col overflow-y-scroll bg-gray-25 p-8 md:max-h-screen xl:py-12;
  }

  .payment-transfer_form-item {
    @apply flex w-full max-w-[850px] flex-col gap-3 md:flex-row lg:gap-8;
  }

  .payment-transfer_form-content {
    @apply flex w-full max-w-[280px] flex-col gap-2;
  }

  .payment-transfer_form-details {
    @apply flex flex-col gap-1 border-t border-gray-200 pb-5 pt-6;
  }

  .payment-transfer_btn-box {
    @apply mt-5 flex w-full max-w-[850px] gap-3 border-gray-200 py-5;
  }

  .payment-transfer_btn {
    @apply text-14 w-full bg-bank-gradient font-semibold text-white shadow-form !important;
  }

  /* Root Layout */
  .root-layout {
    @apply flex h-16 items-center justify-between p-5 shadow-creditCard sm:p-8 md:hidden;
  }

  /* Bank Info */
  .bank-info_content {
    @apply flex flex-1 items-center justify-between gap-2 overflow-hidden;
  }

  /* Footer */
  .footer {
    @apply flex cursor-pointer items-center justify-between gap-2 py-6;
  }

  .footer_name {
    @apply flex size-10 items-center justify-center rounded-full bg-gray-200 max-xl:hidden;
  }

  .footer_email {
    @apply flex flex-1 flex-col justify-center max-xl:hidden;
  }

  .footer_name-mobile {
    @apply flex size-10 items-center justify-center rounded-full bg-gray-200;
  }

  .footer_email-mobile {
    @apply flex flex-1 flex-col justify-center;
  }

  .footer_image {
    @apply relative size-5 max-xl:w-full max-xl:flex max-xl:justify-center max-xl:items-center;
  }

  .footer_image-mobile {
    @apply relative size-5;
  }

  /* Sidebar */
  .sidebar {
    @apply sticky left-0 top-0 flex h-screen w-fit flex-col  justify-between border-r border-gray-200 bg-white pt-8 text-white max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px];
  }

  .sidebar-logo {
    @apply 2xl:text-26 font-ibm-plex-serif text-[26px] font-bold text-black-1 max-xl:hidden;
  }

  .sidebar-link {
    @apply flex gap-3 items-center py-1 md:p-3 2xl:p-4 rounded-lg justify-center xl:justify-start;
  }

  .sidebar-label {
    @apply text-16 font-semibold text-black-2 max-xl:hidden;
  }
}
